@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lahore Branch<br />
    <abbr title="Phone">P:</abbr>03234488228
        <br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>